.contacto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  color: white;
}

.contacto-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.contacto-container label {
  margin-top: 10px;
}

.contacto-container input,
.contacto-container textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contacto-container textarea {
  height: 150px; /* Make the message box larger */
}

.contacto-container button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.contacto-container button:hover {
  background-color: #0056b3;
}
